

* , 

* ::before,

* ::after{

  box-sizing: border-box;

  margin: 0;

  padding: 0;

}

body {

  margin: 0;

  padding: 0;

  background-color: #010101;

  font-family: "Ubuntu" , sans-serif;

}

a {

  text-decoration: none ;

}

button {

  border: 0;

  outline: none;

  font-family: inherit;

  font-size: inherit;

  cursor: pointer;

}

 /* navbar */

 .navbar {

  height: 90px;

  background-color: #010101;

  padding: 20px 40px;

  display: flex;

  justify-content: space-between;

  align-items: center;

 } 

.navbar .logo i {

  color: #0aa5ff;

  font-size: 22px;

}

.navbar .logo a {

  font-size: 24px;

  font-weight: 700;

  color: wheat;

  margin-left: 12px;

}

.menu {

  display: flex;

  align-items: center;

  gap: 32px;

}

.menu-links {

  display: flex;

  gap: 24px;

  border-radius: 1px solid #999999;

  padding-inline: 24px;

}

.menu-links a {

  font-weight: 500px;

  color: #999999;

  padding: 8px 16px;

}

.menu-links a:hover {

  color: wheat;

}

.log-in {

  font-weight: 500;

  padding: 12px 22px;

  background-color: transparent;

  color: #999999;

  border-radius: 10px;

  border: 2px solid  #0aa5ff;

  transition: 0.2s;

}

.log-in:hover {

  background-color:  #0aa5ff;

  color: wheat;

}

.menu-btn {

  font-size: 32px;

  color: wheat;

  direction: none;

  cursor: pointer;

}

@media (max-width: 53rem) {

  .menu {

    display: none;

  }

  

  

  

 .menu-btn {

  display: block;

  width: 50px;

}

}

 

.h1 {

  text-align: center;

}

.row{

  

  display: flex;

  padding: 100px 20px 20px 20px;

  

}

.main {

  box-sizing: border-box;

  display: flex;

  width: 100%;

  justify-content: center;

  align-items: center;

 

  

  

}

.section {

  display: flex;

  flex-wrap: wrap;

  padding: 1rem;

  justify-content: center;

  row-gap: 1rem;

  column-gap: 1rem;

}

.card {

  background: #333;

  width: 290px;

  border-radius: 20px;

  padding: 25px;

}

.card:hover {

  transform: scale(1.1);

  transition: 0.5s; 

  

}

@media (max-width: 53rem){

  .card:hover {

    transform: none;

  }

  

}

.card .shopping-cart {

  width: 40px;

  float: right;

  position: relative;

  margin: 20px;

  background-color: #f7f7f7;

  padding: 2px;

  border-radius: 50px;

}

.card .card-img {

  width: 100%;

  border-radius: 20px;

  margin-top: -81px;

}

.card h3 {

  color: gray;

  margin-top: 30px;

  margin-bottom: 10px;

}

.card p {

  font-size: 25px;

  color: #fff;

}

.slider {

  box-sizing: border-box;

  display: flex;

  width: 80%;

  height: 50px;

  align-items: center;

  justify-content: space-evenly;

}

.slide {

  

  display: flex;

  background: white;

  width: 35px;

  height: 35px;

  margin: 5px;

  align-items: center;

  justify-content: center;

  

}

.slider a {

  text-decoration: none;

  color: black;

}
